extend ./component/layout.pug

block headScripts
    link(href="./css/slick.css", rel="stylesheet")
    link(href="./css/slick-theme.css", rel="stylesheet")
    script(src="./js/slick.js")
    
block content
    .about__banner(style="background-image:url(./images/about_banner.jpg)")
        .about__banner-text
            h1 ABOUT
            p 品堯餐飲集團負責人唐有建董事長，插旗大高雄，自創<strong>飢餓小唐 老饕味經典鍋物</strong>。唐董事長認為<strong>火鍋</strong>是唯一讓大廚與饕客能不需交流，卻能彼此交心的料理！由大廚精心熬煮的養生煲湯及精挑細選的豐富內料，讓饕客自由地為鍋品加上心之所嚮的食材與自在地烹煮涮燙。<strong>飢餓小唐</strong>將帶給每一位喜愛火鍋文化的朋友感受前所未有的好食體驗。
        .marquee
            h2 About HungryTango 
            h2 About HungryTango
            h2 About HungryTango
    .about__description
        img.about__description-pattern(src="./images/bg_pattern.svg")
        .about__description-container
            .about__description-block
                .about__description-banner(style="background-image:url(./images/about_img1.jpg)")
                .about__description-content
                    ul
                        li
                            h3 血液裡流著餐飲魂的港都孩子
                            p 身為道地的高雄子弟，因為父親從事餐飲相關產業工作，耳濡目染之下，便對餐飲有著十足的興趣了。國中畢業後遠赴澳洲攻讀至碩士，期間愈發的養成了各種對美食的專業知能，畢業後憑藉著對美食料理欲罷不能的熱愛，在這近40 年的歲月中，無論是身在國際百大知名飯店任要職，還是國際速食連鎖集團經營管理，不只在美食製作與餐飲管理親力親為，更是將其視為終身志業般，一步一腳印地學習與努力，就如同高雄港灣的巨輪精神，鋼鐵淬鍊。
                        li
                            h3 用真功夫的料理技術與<br />國際視野打拼出全新的餐飲王國
                            p 熱愛中華傳統鍋物文化，立志將其發揚光大，與志同道合且廚藝精湛的湯物鍋品達人，一同研發創作，讓更多人能品嚐美味卻又蘊含著深刻美食文化的料理，最終研製出<strong>飢餓小唐 四大天王鍋物</strong>，擄獲台灣好食客的味蕾，征服刁嘴饕客的胃。
                        li
                            h3 飢餓小唐 老饕味經典鍋物
                            p 因著繁重事業總需要往來兩岸三地奔波，深交的好友看出他疲累的身心，便帶著他去品嚐這道源自廣東的功夫煲湯。<br />品嘗著需要運用獨特<strong>三度廚藝技法：</strong>時間的長度、料理的溫度、口味的濃度，醞釀的絕妙鍋品；飲湯食鍋之際，身心瞬間舒爽豁然開朗、一掃心頭陰霾，更因理解此道鍋品煲湯廚藝之用心與五味調和之美，故開創了<strong>飢餓小唐 老饕味經典鍋物</strong>，希望飲下這口湯品、吃進這味兒鍋物，皆能感受暖心暖胃的幸福。用心做鍋物、用時尚質感作餐飲，帶給食客們全新的火鍋體驗。
            .about__description-block
                .about__description-banner(style="background-image:url(./images/about_img2.jpg)")
                .about__description-content
                    ul
                        li
                            h3 首席鍋物 雙嬌胡椒豬肚雞鍋
                            p 著實來自唐有建董事長難以忘懷的舌尖念想。
                        li
                            h3 經典鍋物 干貝昆布火鍋
                            p 有著海天合一層次分明的醇鮮香。
                        li
                            h3 川渝麻辣火鍋
                            p 讓您細細品嚐四川道地火鍋技藝<strong>煮與煲</strong>，口味的<strong>麻與辣</strong>，更經典地搭配本店特有<strong>天香干碟粉</strong>，妙不可言地感受這道經典的漢族著名美食。
                        li
                            h3 老譚酸菜魚火鍋
                            p 獨特廚藝著實讓饕客們十足體驗三度相融紅遍兩岸三地的珍餚鍋物；<strong>老譚酸菜魚火鍋</strong>選用老譚發酵的酸菜與肥美鱸魚完美的火侯熬出味美、鮮甜、酸香又可口，搭配海鮮與肉類更是一絕。
    .about__env
        .about__env-titlebox
            h1 ENVIRONMENT
            p 來到店內除能享受到最精心準備的新鮮食材、鍋物與盡收眼底的裝潢設計，更充斥著唐董事長的國際視野及獨一無二的時尚風格，讓人眼睛為之一亮。希望讓每一位到訪的饕客們，都得到最美好的饗食體驗。
        .about__env-slider
            .about__env-slide
                img(src="./images/env1.jpeg")
            .about__env-slide
                img(src="./images/env1.jpeg")
            .about__env-slide
                img(src="./images/env1.jpeg")
            .about__env-slide
                img(src="./images/env1.jpeg")

block bodyScripts
    script(src="./js/about.js")