extend ./component/layout.pug

block content
    .news
        .news__main
            aside.news__sidebar
                h3 其他消息...
                ul
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
                    li
                        a
                            .photo
                                img(src="./images/news_sidebar.jpeg")
                            .content
                                p.date 28,六月,2023
                                h4 以辣治熱夏樂季
            main.news__content
                h1 NEWS
                h2 以辣治熱夏樂季
                p.date 28,六月,2023
                .editor
                    p 越熱越開鍋以辣治熱夏樂季<br />Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Integer malesuada nunc vel risus commodo viverra maecenas. 
                .news__photo
                    img(src="./images/news.jpeg")
                .news__switch
                    a
                        img(src="./images/prev.svg", alt="prev")
                    a
                        img(src="./images/next.svg", alt="next")
        .marquee.marquee__news
            //- h2 NEWS NEWS NEWS NEWS NEWS NEWS NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            h2 NEWS
            //- div
                //- h2 NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS
                //- h2 NEWS